amqp
asgiref
beautifulsoup4
billiard
cachetools
celery
certifi
charset-normalizer
class-registry
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-cors-headers
django-filter
django-jazzmin
djangorestframework
djangorestframework_simplejwt
drf-yasg
filters
google-auth
idna
inflection
kombu
packaging
prompt_toolkit
pyasn1
pyasn1_modules
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rsa
six
soupsieve
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
whitenoise
